<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->

        <%- include("header") -%>

        <div class="box" id="heading">
            <h1> <%= listTitle %> </h1>
        </div>

        
        
        <div class="box">
            <% for(var i=0; i < activity.length; i++) { %>
            <div class="item">
                
                    <input type="checkbox">
                    <p><%= activity[i] %></p>
                
            </div>
            <% } %>
            <form class="item" action="/" method="post">
                <input type="text" id="activity" name="activity" autocomplete="off" placeholder="New item">
                <button type="submit" name="button" value="Submit">+</button>
              </form> 
            
        </div>
        
        <%- include("footer") -%>
        
